@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h1>Add a Stylist</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name, new { @class="form-control"})

    @Html.LabelFor(model => model.Description) @Html.TextBoxFor(model => model.Description, new { @class="form-control"})

    <input type="submit" value="Add Stylist" class="btn btn-default"/>
}

<button class="btn btn-default">@Html.ActionLink("Back to Stylists List", "Index")</button>