@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h2>Add a Stylist</h2>
<hr>
@using (Html.BeginForm())
{
    @Html.Label("Name", "Name: ") @Html.TextBoxFor(model => model.Name, new { @class="form-control", required="required"})

    @Html.Label("HireDate", "Date Hired: ") @Html.TextBoxFor(model => model.HireDate, new { @class="form-control"})

    @Html.Label("HourlyWage", "Hourly wage: $") @Html.TextBoxFor(model => model.HourlyWage, new { @class="form-control",  type="number"})

    @Html.Label("Description", "Other Info: ") @Html.TextBoxFor(model => model.Description, new { @class="form-control"})

    <input type="submit" value="Add Stylist" class="btn btn-default"/>
}

<button class="btn btn-default">@Html.ActionLink("Back to Stylists List", "Index")</button>