@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist: @Model.Name</h2>
<hr>
@if (!String.IsNullOrEmpty(Model.HireDate))
{
  <p><strong>Eau Claire's Stylist Since: </strong>@Model.HireDate</p>
}
@if (Model.HourlyWage != 0)
{
  <p><strong>Hourly Wage: </strong>$@Model.HourlyWage</p>
}
@if (!String.IsNullOrEmpty(Model.Description))
{
  <p><strong>More Info About @Model.Name: </strong>@Model.Description</p>
}
<hr>
<h4>@Model.Name's Clients:</h4>
@if (Model.Clients.Count == 0)
{
  <p>No clients have been added yet.</p>
}
@foreach(Client client in @Model.Clients)
{
  <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
}

<button class="btn btn-default">@Html.ActionLink("Add a Client", "Create", "Clients", new { id = Model.StylistId })</button>
<button class="btn btn-default">@Html.ActionLink("Edit This Stylist", "Edit", new { id = Model.StylistId })</button>
<button class="btn btn-default">@Html.ActionLink("Delete This Stylist", "Delete", "Stylists", new { id = Model.StylistId })</button>
<button class="btn btn-default">@Html.ActionLink("Back to Stylists List", "Index")</button>