@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist: @Model.Name</h2>
<hr>
<p><em>@Model.Description</em></p>
<h4>@Model.Name's Clients:</h4>
@if (Model.Clients.Count == 0)
{
    <p>No clients have been added yet.</p>
}

@foreach(Client client in @Model.Clients)
{
    <li>@client.Name</li>
}

<button class="btn btn-default">@Html.ActionLink("Add a Client", "Create", "Clients", new { id = Model.StylistId })</button>
<button class="btn btn-default">@Html.ActionLink("Back to Stylists List", "Index")</button>