@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<h1>Add a Client</h1>
<hr>
@using (Html.BeginForm())
{
    <input type="hidden" name="StylistId" value=@ViewBag.StylistId />
    @Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name, new { @class="form-control"})

    @Html.LabelFor(model => model.Description) @Html.TextBoxFor(model => model.Description, new { @class="form-control"})

    <input type="submit" value="Add Client" class="btn btn-default"/>
}

<button class="btn btn-default">@Html.ActionLink("Back to Clients List", "Details", "Stylists", new { id = ViewBag.StylistId })</button>